@{
    ViewData["Title"] = "Bookstore";
}
<!--Import the model-->
@model BooksViewModel

<h1>Welcome to our bookstore</h1>

<!--For each book pull the information for that book from the database-->
@foreach (Book B in Model.Books)
{
    <partial name="ProjectSummary" model="B"/>
}

<!--Use our custom tag helper to make the tags to the new pages-->
<div page-model="@Model.PageInfo" page-action="" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>

